<h2>Create Account</h2>
<p>Fill out the form below to register. All fields are required.</p>
<form method="post">
	<ul>
		<li><label for="username">Username</label> <input name="username" id="username"></li>
		<li><label for="email">Email</label> <input name="email" id="email"></li>
		<li><label for="password">Password</label> <input type="password" name="password" id="password"></li>
		<li><input type="submit" value="Create Account" /></li>
	</ul>
</form>