<form action="<%= Picombo::Url.site('server/create')%>" method="post">
	<ul>
		<li><label for="hostname">Hostname:</label> <input name="hostname" id="hostname" /></li>
		<li><label for="identifier">Identifier:</label> <input name="identifier" id="identifier" /></li>
		<li><label for="default_service_priority">Default Service Priority:</label> <input name="default_service_priority" id="default_service_priority" /></li>
		<li><input type="submit" value="Submit" />
	</ul>
</form>